[Unit]
Description=CheckForChange
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=/PATH/TO/WORKING/DIRECTORY/checkForChange
ExecStart=/usr/bin/pipenv run python /PATH/TO/WORKING/DIRECTORY/checkForChange/checkForChange.py
Restart=on-failure
Environment="PIPENV_VENV_IN_PROJECT=1"
Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"

[Install]
WantedBy=default.target
